*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: black;
    color: #fff;
    justify-content: center;
    padding: 16px;
}

form input,
button{
    display: flex;
    margin: 0 auto;
}

form label{
    display: flex;
    justify-content: center;
}

form{
    padding: 16px;
}

button{
    margin-top: 8px;
    padding: 8px;
    width: 140px;
}