.navbar-nav .nav-link.active{
    color: #fff;
    background:	#d1ac60;
}

.container{
    display: block;
}
.nav-link{
    text-align: center;
}

section{
    background-color: #e73996;
    padding-top: 70px;
    padding-bottom: 16px ;
}

section h2{
    color: #fad68d;
    text-align: center;
    font-weight: bold;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color:#ff5ed5;
}

header h1{
    color:#5dfaf5e7;
    font-weight: bolder;
}

.carousel-caption{
    color:#fad68d;
    background-color:#4d424994;
    border-radius: 8px;
    font-weight: bolder;
}

hr{
    color:#fad68d;
}

.card{
    background-color:#4d4249;
    color: #fad68d;
    margin-top: 12px;
    width: 350px;
    max-width: 90%
}

.card img{
    height: 350px;
    width: 350px;
}

.card-title{
    color:#5dfaf5e7 ;
}

.btn-outline{
    text-decoration: none ;
    color: #5dfaf5e7;
}

footer{
    padding: 12px;
    background-color: #ff5ed5;
    color:#5dfaf5e7 ;
    text-align: center;
}

@media screen and (max-width: 640px){
    #destaques{
        padding-left: 50px;
        justify-content: center;
    }
    .card img{
        height: 376px;
        max-width:378px;
    }

    .card{
        max-width: 400px;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .card img{
        max-width: 100%;
        height: 200px;
    }
    
    .card{
        max-width: 200px;
    }

    .container{
        max-width: 100%;
    }

}